* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.content {
  min-height: calc(100vh - 80px);
}

.navbar, .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e6e6e6;
  height: 56px;
  min-height: 56px;
  padding: 20px 20px;
  font-size: 16px;
}

.header {
  align-items: center;
  background: #FAFAFA;
  font-size: 20px;
}

.btn-group>.btn {
  position: relative;
  float: left;
  margin-left: -1px;
}

.btn {
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.message-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 20px;
}

.message-item {
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: #E1F2FA;
  border-radius: 4px;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.message-item.owned {
  margin-left: 50px;
  background: #E1FCED;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.sender-name {
  font-style: italic;
}

.message {
  margin-top: 5px;
}

.send-form {
  padding: 1em;
  display: flex;
  justify-content: center;
}

.send-form input {
  flex: 1;
}

.send-form button {
  margin-left: 16px;
}

input {
  font-size: 16px;
  padding: .25em;
  border: 1px solid lightgray;
  border-radius: 2px;
  outline: none;
}