<main class="site">

  <section class="content">
    <section class="navbar">
      <div class="empty-block"></div>
      <span>Messenger</span>
      <button class="btn icon">
        <i class="material-icons">view_headline</i>
      </button>
    </section>

    <section class="header">
      <span>Messages</span>
      <div class="btn-group">
        <button class="btn btn-danger">EXPORT</button>
        <button class="btn btn-danger">DELETE ALL</button>
      </div>
    </section>
    <section class="message-list" *ngIf="messages.length">

      <div class="message-item" *ngFor="let message of messages" [class.owned]=" message.owned">
        <div class="message-header">
          <div class="header-group">
            <span class="sender-name">{{message.sender}}</span>
            <span class="send-time">{{message.time}}</span>
          </div>
          <button class="btn icon" (click)="delete(message)">
            <i class="material-icons">delete</i>
          </button>
        </div>
        <span class="message">{{message.text}}</span>
      </div>

    </section>
  </section>

  <section class="footer">
    <form class="send-form" (ngSubmit)="send(); sendForm.reset()" #sendForm="ngForm">
      <input type="text" [(ngModel)]="newMessage" name="message" placeholder="Message text">
      <button class="btn" type="submit">SEND</button>
    </form>
  </section>
</main>
