<main>
  <section class="content">
    <section class="navbar">
      <div class="empty-block"></div>
      <span>Messenger</span>
      <button class="btn icon">
        <i class="material-icons">view_headline</i>
      </button>
    </section>

    <section class="header">
      <span>Messages</span>
      <div class="btn-group">
        <button class="btn btn-danger">EXPORT</button>
        <button class="btn btn-danger">DELETE ALL</button>
      </div>
    </section>

    <section class="message-list">

      <div class="message-item">
        <div class="message-header">
          <div class="header-group">
            <span class="sender-name">Robert Lutes</span>
            <span class="send-time">(2016-11-23 21:13:45)</span>
          </div>
          <i class="material-icons">delete</i>
        </div>
        <span class="message">Hi, Piter</span>
      </div>

      <div class="message-item">
        <div class="message-header">
          <div class="header-group">
            <span class="sender-name"></span>
            <span class="send-time">(2016-11-23 21:13:49)</span>
          </div>
          <i class="material-icons">delete</i>
        </div>
        <span class="message">Hi, Tim</span>
      </div>

    </section>
  </section>

  <section class="footer">
    <form class="send-form">
      <input type="text" name="message"  placeholder="Message text" required>
      <button class="btn" type="submit">SEND</button>
    </form>
  </section>
</main>
